[user]
	name = Aadishx07
	email = aadishdas7@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    required = true
[init]
	defaultBranch = main
[core]
	editor = nvim
	sshCommand = ssh -C
[color]
	ui = auto
