[user]
	name = Aadishx07
	email = aadishdas7@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[core]
	editor = nvim
[color]
	ui = auto
